## Python assignment 3

#reduce()

In [26]:
ls = list(range(1,10))

In [27]:
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
import functools as ft

In [35]:
ft.reduce(lambda a,b:a+b,ls)

45

In [48]:
def my_reduce(ls):
    n=0
    for i in ls:
        n=n+i
    return n

In [49]:
my_reduce(ls)

45

#myfilter

In [1]:
ls = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

In [5]:
def my_filter(ls):
    ls1 = []
    for i in ls:
        if i>75:
            ls1.append(i)
    return ls1

In [6]:
my_filter(ls)

[90, 76, 88, 81]

##list comprehension

In [14]:
ls = ['x','y','x']
ls1 = list(range(1,5))

In [18]:
[i*j for i in ['x','y','x'] for j in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'x', 'xx', 'xxx', 'xxxx']

In [19]:
[i*j for i in range(1,5) for j in ['x','y','x']]

['x', 'y', 'x', 'xx', 'yy', 'xx', 'xxx', 'yyy', 'xxx', 'xxxx', 'yyyy', 'xxxx']

In [48]:
ls = [2,3,4,5,6]

In [53]:
[[ls[i]] for j in range(0,3) for i in range(j,j+3)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [57]:
ls = [2,3,4,5,6,7,8]

In [66]:
[ls[i:i+4] for i in range(0,4)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [71]:
[(j,i)for i in [1,2,3] for j in [1,2,3]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]